/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {

  margin: 0;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comic Neue', cursive;

}

input, textarea, button {

  font-family: 'Comic Neue', cursive;

}

input::placeholder {

  font-family: 'Comic Neue', cursive;

}

input:-ms-input-placeholder {

  font-family: 'Comic Neue', cursive;

}

input::-ms-input-placeholder {

  font-family: 'Comic Neue', cursive;

}

::selection {

  background: #03bafc;
  color: #fff;

}

::-moz-selection {

  background: #03bafc;
  color: #fff;

}

::-webkit-scrollbar {

  width: 7px;

}

::-webkit-scrollbar-track {

  background-color: rgba(0, 0, 0, 0);

}

::-webkit-scrollbar-thumb {

  background: #03bafc;

}

.join {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  background-color: #03bafc;

}

.join h1 {

  margin: 0 0 10px 0;
  font-size: 2em;

}

.join h2 {

  text-align: center;
  font-size: 1em;
  margin: 10px;

}

.join input {

  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  display: block;
  background: transparent;
  margin-bottom: 10px;

}

.join button {

  display: block;
  font-size: 18px;
  color: #000;
  background-color: #F8D718;
  padding: 5px 8px;
  outline: none;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;

}
