/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {

  margin: 0;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Comic Neue', cursive;

}

input, textarea, button {

  font-family: 'Comic Neue', cursive;

}

input::placeholder {

  font-family: 'Comic Neue', cursive;

}

input:-ms-input-placeholder {

  font-family: 'Comic Neue', cursive;

}

input::-ms-input-placeholder {

  font-family: 'Comic Neue', cursive;

}

::selection {

  background: #03bafc;
  color: #fff;

}

::-moz-selection {

  background: #03bafc;
  color: #fff;

}

.join, .gameManager {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  background-color: #03bafc;

}

.join h1, .gameManager h1 {

  margin: 0 0 10px 0;
  font-size: 2em;

}

.join h2, .gameManager h2 {

  text-align: center;
  font-size: 1em;
  margin: 10px;

}

input, textarea {

  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  display: block;
  background: transparent;
  margin-bottom: 10px;
  width: 270px;

}

button {

  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
  background-color: #F8D718;
  padding: 5px 8px;
  outline: none;
  border: none;
  cursor: pointer;
  width: -webkit-fill-available;

}

.game, .gameManager {

  display: none;

}

.players {

  max-height: 350px;
  overflow-y: auto;

}

.players .player {

  margin-bottom: 5px;

}

.players .player h1 {

  font-size: 1.3em;
  margin: 0;

}

.players .player p {

  font-size: 17px;
  margin: 0;
  padding: 0;

}

.gameManager .container, .gameManager .chat {

  display: inline-block;
  vertical-align: top;

}

.gameManager .chat, .game .chat {

  width: 200px;
  margin-left: 10px;
  height: 100%;

}

.gameManager .chat .console, .game .chat .console {

  height: 220px;
  overflow-y: auto;

}

.gameManager .chat input, .game .chat input {

  width: 200px;

}

.game {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 82vw;
  height: 85vh;
  transform: translate(-50%, -50%);

}

.game .chat {

  position: absolute;
  right: 0;
  top: 0;
  background-color: #03bafc;
  height: auto;
  padding: 4px;

}

.game .draw-container {

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}

.game .draw-container canvas {

  background-color: #fff;

}

.game .players {

  position: absolute;
  left: 0;
  top: 0;
  background-color: #03bafc;
  padding: 4px;
  width: 200px;

}
